/*---Body---*/
body {
    background-color: rgba(255, 255, 255, 0);
  }
/*---Body---*/

cor {
  color: white;
}

/*---Scroll Bar---*/
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
  }
/*===Scroll Bar===*/

/*---fonts---*/
  @font-face {
    font-family: "font1";
    src: url("fonts/Goudy\ Old\ Style\ Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "font2";
    src: url("fonts/Fujimaru-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "font3";
    src: url("fonts/Hogback\ Demo\ Version.otf") format("opentype");
  }

  @font-face {
    font-family: "font4";
    src: url("fonts/mangat.ttf") format("truetype");
  }
/*===fonts===*/

/*---Nav---*/
  a {
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
    text-shadow: 0 0 3px #858585;
  }
  
  a:hover {
    opacity: 0.7;
    color: rgb(161, 161, 161);
    text-shadow: 0 0 3px rgb(110, 110, 110);
  }
  
  .logo {
    position: absolute;
    left: 50px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 10vh;
    font-family: "font4";
    font-size: 25px;
    font-weight: bold;
  }
  
  main {
    background: url("img/musashi_wallpaper_paisagem_1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
/*===Nav===*/  

/*---Mobile Nav List---*/
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;    height: 120vh;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
/*===Mobile Nav List===*/

/*---Mobile Nav List Animação---*/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/*===Mobile Nav List Animação===*/

/*---Miyamoto Musashi Png---*/
  .musashipng {
    position: absolute;
    top: 167px;
    left: -100px;
    transition: 0.6s;
  }

  .musashipng:hover {
    transform: scale(1.1);
  }
/*===Miyamoto Musashi Png===*/

.texto_all {
  position: absolute;
  top: 412px;
  left: 972px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "font4";
  font-weight: bold;
}

.texto_1 {
  color: #000000;
  width: 600px;
  font-size: 19px;
  text-shadow: 0 0 2px #000000;
  text-align: center;
}